### Creating Tables and Inserting Records

In [1]:
### Create MySQL Connection And Connect
import mysql.connector as sql

connection = sql.connect(
host = "localhost",
user = "root",
password = "sachin1234",
database = "student"
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001556678F7F0>

### Create Table in MySQl using Python

In [2]:
cursor = connection.cursor()

cursor.execute("CREATE TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

### Insert Records in a Table

In [3]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
value = ("John", "Stats")
cursor.execute(query, value)
print("Row inserted", cursor.lastrowid)

Row inserted 1

In [7]:
### Insert multiple records in table
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
values = [("Sachin", "Stats"),
         ("Joe", "Maths"),
         ("Ankur", "Data Science"),
         ("Paul", "Data Science"),
         ("Vishal", "Maths"), 
         ("Krish", "Data Science")]
cursor.executemany(query, values)
print("Row inserted", cursor.lastrowid)

Row inserted 2

### Select All

In [8]:
cursor = connection.cursor()
cursor.execute("Select * from studentinfo")

In [9]:
### Fetch all the data
cursor.fetchall()

[(1, 'John', 'Stats'),
 (2, 'Sachin', 'Stats'),
 (3, 'Joe', 'Maths'),
 (4, 'Ankur', 'Data Science'),
 (5, 'Paul', 'Data Science'),
 (6, 'Vishal', 'Maths'),
 (7, 'Krish', 'Data Science')]

In [10]:
### Fetch one record at a time
cursor.fetchone()

In [11]:
lst = cursor.fetchall()

In [12]:
for record in lst:
    print(record)

### Selecting Particular Rows

In [14]:
cursor.execute("Select * from studentinfo where name = 'Sachin'")

In [15]:
### Fecth all the data
cursor.fetchall()

[(2, 'Sachin', 'Stats')]

### Select Particular columns

In [16]:
cursor.execute("Select subject from studentinfo")
### Fetch all
cursor.fetchall()

[('Stats',),
 ('Stats',),
 ('Maths',),
 ('Data Science',),
 ('Data Science',),
 ('Maths',),
 ('Data Science',)]

In [17]:
## Select Distinct Columns
cursor.execute("SELECT DISTINCT subject from studentinfo")
### Fetch all
cursor.fetchall()

[('Stats',), ('Maths',), ('Data Science',)]

In [18]:
cursor.execute("SELECT name, subject FROM studentinfo WHERE name = 'Sachin' OR subject = 'Data Science'")
### Fetch All
cursor.fetchall()

[('Sachin', 'Stats'),
 ('Ankur', 'Data Science'),
 ('Paul', 'Data Science'),
 ('Krish', 'Data Science')]

### Drop Table

In [19]:
cursor.execute("DROP TABLE studentinfo")